.container {
  position: relative;
  width: 1226px;
  margin-right: auto;
  margin-left: auto;
}

a {
  img {
    width: 100%;
  }
}

input {
  outline: onone;
  box-sizing: border-box;
  font-size: 14px;
}
